body{
    font-family: 'Titillium Web', sans-serif;
}

header{
    margin-top: 70px;
}
#testimonial {
    background: #f1f1f1;
    padding: 50px 0 30px 0; /*ar,de,ab,iz*/
    text-align: center;
    margin-top: 40px; /*margen superior*/
}

footer{
    background: url(../img/smartphones.png);

}